*.user
*.DotSettings.user
.idea/
obj/
bin/
*.user
*.DotSettings.user
.idea/
obj/
*.user
*.DotSettings.user
.idea/
obj/
bin/
*.user
*.DotSettings.user
.idea/
obj/
bin/
*.user
*.DotSettings.user
.idea/


bin/
*.user
*.DotSettings.user
.idea/
obj/
bin/
*.user
*.DotSettings.user
.idea/
obj/
bin/
*.user
*.DotSettings.user
.idea/
*.user
*.DotSettings.user
.idea/
bin/
obj/


